<a href="" class="whatsapp-icon"></a>
<div class="appoinment-card">
  <i class="far fa-address-book"></i>
  <div class="appoinment-card-content">
    <a href="/pages/contact.html" class="appoinment-card-item1"
      ><i class="fas fa-phone-volume"></i
    ></a>
    <a href="/pages/enquiry.html" class="appoinment-card-item"
      ><i class="ri-calendar-schedule-line"></i
    ></a>
    <a href="/pages/enquiry.html" class="appoinment-card-item"
      ><i class="far fa-eye"></i
    ></a>
  </div>
</div>
