<footer class="footer">
  <div class="footer-content">
    <div class="footer-content-bg">
      <div class="footer-content1 container">
        <div class="footer-appoinment"></div>
        <div class="footer-appoinmet-content">
          <div class="footer-appoinment-content-1">
            <div class="footer-appoinment-content-11">
              <div class="footer-appoinment-content-icon">
                <i class="fas fa-phone"></i>
              </div>
              <div class="footer-appoinment-content-number">
                <h3>Give Us A Call</h3>
                <h2>+91 9003111863</h2>
              </div>
              <div class="footer-appoinment-content-icons">
                <i class="fa-brands fa-square-facebook"></i
                ><i class="fa-brands fa-youtube"></i
                ><i class="fa-brands fa-whatsapp"></i
                ><i class="fa-brands fa-instagram"></i>
              </div>
            </div>
          </div>
          <!-- <div class="footer-appoinment-content-2">
              <h1>Join Newsletter</h1>
              <div class="appoinment-input"></div>
            </div> -->
        </div>
        <div class="footer-content-info">
          <div class="footer-content-info-col">
            <div class="footer-content-info-col1">
              <img class="flogo" src="/assets/images/logo.png" alt="" />
              <h3>We Are Here</h3>
              <p>
                We provide many exciting services that will leave you with a
                bright, white smile on your face!
              </p>
            </div>
            <div class="footer-content-info-col2">
              <p>Helpline No: +91 9003111863</p>
              <p>Optom R Kumaran: +91 9382140351</p>
              <p>Optom K Sa: +91 9952053068</p>
            </div>
          </div>
          <div class="footer-content-info-col">
            <h3>Quick Link</h3>
            <p>About Us</p>
            <p>Therapy</p>
            <p>Our Expertise</p>
            <p>Visionary Vault</p>
            <p>doc-team</p>
            <p>Activities</p>
          </div>
          <div class="footer-content-info-col">
            <div class="footer-content-info-col3">
              <div class="footer-icons">
                <i class="fa-solid fa-phone"></i>
                <h3>More Inquiry</h3>
              </div>

              <p>+91 9003111863</p>
            </div>
            <div class="footer-content-info-col3">
              <div class="footer-icons">
                <i class="fa-solid fa-paper-plane"></i>
                <h3>Send Mail</h3>
              </div>
              <p>trinityoptics@yahoo.com</p>
            </div>
            <div class="footer-content-info-col3">
              <div class="footer-icons">
                <i class="fa-solid fa-location-dot"></i>
                <h3>Address</h3>
              </div>
              <p>House 168/170, Avenue 01, Mirpur DOHS, Dhaka Bangladesh</p>
            </div>
          </div>
          <div class="footer-content-info-col">
            <h3>Contact US</h3>
            <div class="footer-content-info-contactus">
              <p>Porur</p>
              <div class="footer-content-info-porur">
                <p>M: 8144901861</p>
                <p>P: 24766164, 24763777</p>
              </div>
            </div>
            <div class="footer-content-info-contactus">
              <p>Porur</p>
              <div class="footer-content-info-Keelkattali">
                <p>M: 8144901862</p>
                <p>P: 43156689, 22470881</p>
              </div>
            </div>
            <div class="footer-content-info-contactus">
              <p>Porur</p>
              <div class="footer-content-info-kumnanchavadi">
                <p>M: 8144901863</p>
                <p>P: 26790414</p>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <div class="copyright-content1">
            ©Copyright 2024 Figma | Design By CStudioss
          </div>
          <div class="copyright-content1">Policy . Terms & Condition</div>
        </div>
      </div>
    </div>
  </div>
</footer>
