<footer class="footer">
  <div class="footer-content">
    <div class="footer-content-bg">
      <div class="footer-content1 container">
        <div class="footer-appoinment">
          <div class="footer-appoinmet-content">
            <div class="footer-img"></div>
            <div class="footer-appoinment-section">
              <div class="footer-appoinment1">
                <img src="/assets/icons/logos_google.svg" alt="" />
                <h2>Review</h2>
                <div class="rating">
                  <p>5.0</p>
                  <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
              </div>
              <div class="footer-appoinment-icons">
                <a href=""><i class="ri-facebook-line"></i></a>
                <a href=""><i class="ri-instagram-line"></i></a>
                <a href=""><i class="ri-youtube-line"></i></a>
                <a href=""><i class="ri-twitter-x-line"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-content-info">
          <div class="footer-content-info-col">
            <h3>Quick Link</h3>
            <a href="/index.html"><p>Home</p></a>
            <a href="/"><p>Expertise</p></a>
            <a href="/pages/specialized.html"><p>Specialized</p></a>
            <a href="/pages/team.html"><p>Expert Team</p></a>
            <a href="/"><p>R&D Lab</p></a>
            <a href="/pages/enquiry.html"><p>Contact Us</p></a>
          </div>
          <div class="footer-content-info-col">
            <h3>Services</h3>
            <a href=""><p>Young Brain Vision Therapy</p></a>
            <a href=""><p>Contact Lenses Clinic</p></a>
            <a href=""><p>Pediatric assessment</p></a>
          </div>
          <div class="footer-content-info-col">
            <div class="footer-content-info-col1">
              <h3>Registered and Corporate Office</h3>
            </div>
            <div class="footer-content-info-col2">
              <a
                href="https://maps.app.goo.gl/6M9NrW1CSXuwZj8S7"
                target="_blank"
              >
                <p>
                  <i class="ri-map-pin-fill"></i> No.68, 2, Arcot Rd, Ganesh
                  Nagar, Porur, Chennai, Tamil Nadu 600116
                </p>
              </a>
              <a href=""
                ><p><i class="ri-phone-fill"></i> +91 9003111863</p></a
              >
              <a href=""
                ><p><i class="ri-mail-fill"></i>trinityoptics@yahoo.com</p></a
              >
            </div>
          </div>
          <div class="footer-content-info-col">
            <h3>Contact</h3>
            <a href=""><p>Helpline No: +91 9003111863</p></a>
            <a href=""><p>Optom R Kumaran: +91 9382140351</p></a>
            <a href=""><p>Optom K Sam: +91 9952053068</p></a>
          </div>

          <!-- <div class="footer-content-info-col">
            <h3>Contact US</h3>
            <div class="footer-content-info-contactus">
              <p>Porur</p>
              <div class="footer-content-info-porur">
                <p>M: 8144901861</p>
                <p>P: 24766164, 24763777</p>
              </div>
            </div>
            <div class="footer-content-info-contactus">
              <p>Porur</p>
              <div class="footer-content-info-Keelkattali">
                <p>M: 8144901862</p>
                <p>P: 43156689, 22470881</p>
              </div>
            </div>
            <div class="footer-content-info-contactus">
              <p>Porur</p>
              <div class="footer-content-info-kumnanchavadi">
                <p>M: 8144901863</p>
                <p>P: 26790414</p>
              </div>
            </div>
          </div> -->
        </div>
        <div class="copyright">
          <div class="copyright-content1">
            ©Copyright 2025 Trinity Optical.All Rights Reserved | Design By
            CStudioss
          </div>
          <div class="copyright-content1">Policy . Terms & Condition</div>
        </div>
      </div>
    </div>
  </div>
</footer>
