<div class="topnav" id="myTopnav">
  <nav class="nav container">
    <a href="/index.html" class="nav_logo active"></a>
    <a href="javascript:void(0);" class="icon" id="menuToggle"
      ><i class="fas fa-bars"></i
    ></a>
    <div class="nav_menu" id="navMenu">
      <div class="dropdown">
        <div class="dropbtn">
          About <i class="ri-arrow-down-s-line drop-arrow"></i>
        </div>
        <div class="dropdown-content">
          <div class="dropdown-items">
            <img
              src="/assets/images/trinity_branch1.jpg"
              class="dropdown-img"
              alt=""
            />
            <div class="dropdown-items-content">
              <a href="/pages/about.html"
                ><i class="ri-glasses-line"></i>About Us</a
              >
              <a href="/pages/team.html"><i class="ri-glasses-line"></i>Team</a>
              <a href=""
                ><i class="ri-glasses-line"></i>Comprehensive Equipment</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <div class="dropbtn">
          Specialized <i class="ri-arrow-down-s-line drop-arrow"></i>
        </div>

        <div class="dropdown-content">
          <div class="dropdown-items">
            <img
              src="/assets/images/trinity_branch1.jpg"
              class="dropdown-img"
              alt=""
            />
            <div class="dropdown-items-content">
              <a href="/pages/specialized.html"
                ><i class="ri-glasses-line"></i>Pediatric Assessment</a
              >
              <a href="/pages/specialized.html"
                ><i class="ri-glasses-line"></i>Binocular Vision Assessment and
                Vision Therapy</a
              >
              <a href="/pages/specialized.html"
                ><i class="ri-glasses-line"></i>Scientific Dispensing</a
              >
              <a href="/pages/specialized.html"
                ><i class="ri-glasses-line"></i>Contaact Lens Practise</a
              >
              <a href="/pages/specialized.html"
                ><i class="ri-glasses-line"></i>Glaucoma and Retina Screening</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <div class="dropbtn">
          Expertise <i class="ri-arrow-down-s-line drop-arrow"></i>
        </div>

        <div class="dropdown-content">
          <div class="dropdown-items">
            <img
              src="/assets/images/trinity_branch1.jpg"
              class="dropdown-img"
              alt=""
            />
            <div class="dropdown-items-content">
              <a href=""
                ><i class="ri-glasses-line"></i>Young Brain Vision Therapy
                Unit</a
              >
              <a href=""
                ><i class="ri-glasses-line"></i>Low Vision Rehabilitation</a
              >
              <a href=""
                ><i class="ri-glasses-line"></i>Computer Vision Clininc</a
              >
              <a href=""
                ><i class="ri-glasses-line"></i>Myopia Management Clinic</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <div class="dropbtn">
          R&D <i class="ri-arrow-down-s-line drop-arrow"></i>
        </div>

        <div class="dropdown-content">
          <div class="dropdown-items">
            <img
              src="/assets/images/trinity_branch1.jpg"
              class="dropdown-img"
              alt=""
            />
            <div class="dropdown-items-content">
              <a href=""
                ><i class="ri-glasses-line"></i>Trinity Optics RX Lab</a
              >
              <a href=""
                ><i class="ri-glasses-line"></i>Range of Lense at Trinity
                Optics</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <div class="dropbtn">
          Young Brain <i class="ri-arrow-down-s-line drop-arrow"></i>
        </div>

        <div class="dropdown-content">
          <div class="dropdown-items">
            <img
              src="/assets/images/trinity_branch1.jpg"
              class="dropdown-img"
              alt=""
            />
            <div class="dropdown-items-content">
              <a href=""><i class="ri-glasses-line"></i>Team of Experts</a>
              <a href=""
                ><i class="ri-glasses-line"></i>Who needs Vision Therapy</a
              >
              <a href=""
                ><i class="ri-glasses-line"></i>Vision Therapy Training</a
              >
              <a href=""><i class="ri-glasses-line"></i>Why Choose Us</a>
              <a href=""><i class="ri-glasses-line"></i>Make Appoinment</a>
            </div>
          </div>
        </div>
      </div>
      <a href="/pages/blog.html">Blog</a>
      <div class="dropdown">
        <div class="dropbtn">
          Contact <i class="ri-arrow-down-s-line drop-arrow"></i>
        </div>

        <div class="dropdown-content">
          <div class="dropdown-items">
            <img
              src="/assets/images/trinity_branch1.jpg"
              class="dropdown-img"
              alt=""
            />
            <div class="dropdown-items-content">
              <a href=""><i class="ri-glasses-line"></i>About Us</a>
              <a href=""><i class="ri-glasses-line"></i>Team</a>
              <a href=""
                ><i class="ri-glasses-line"></i>Comprehensive Equipment</a
              >
              <a href=""
                ><i class="ri-glasses-line"></i>Comprehensive Equipment</a
              >
              <a href=""
                ><i class="ri-glasses-line"></i>Comprehensive Equipment</a
              >
              <a href=""
                ><i class="ri-glasses-line"></i>Comprehensive Equipment</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
