<div class="topnav" id="myTopnav">
  <nav class="nav container">
    <a href="/index.html" class="nav_logo active"></a>
    <div class="nav_menu" id="navMenu">
      <div class="dropdown-container">
        <div class="dropdown">
          <div class="dropbtn">
            About <i class="ri-arrow-down-s-line drop-arrow"></i>
          </div>
          <div class="dropdown-content">
            <div class="dropdown-items">
              <!-- <img
                src="/assets/images/trinity_branch1.jpg"
                class="dropdown-img"
                alt=""
              />  -->
              <div class="dropdown-items-content">
                <a href="/pages/about.html"
                  ><i class="ri-glasses-line"></i> About&nbspUs</a
                >
                <a href="/pages/team.html"
                  ><i class="ri-glasses-line"></i> Team</a
                >
                <a href="/pages/enquiry.html"
                  ><i class="ri-glasses-line"></i> Enquiry</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown">
          <div class="dropbtn">
            Specialized <i class="ri-arrow-down-s-line drop-arrow"></i>
          </div>

          <div class="dropdown-content">
            <div class="dropdown-items">
              <!-- <img
                src="/assets/images/trinity_branch1.jpg"
                class="dropdown-img"
                alt=""
              />  -->
              <div class="dropdown-items-content">
                <a href="/pages/pediatic-assessment.html"
                  ><i class="ri-glasses-line"></i> Pediatric&nbspAssessment</a
                >
                <a href="/pages/binocular-vision.html"
                  ><i class="ri-glasses-line"></i> Binocular Vision Assessment &
                  Vision Therapy</a
                >
                <a href="/pages/scientific-dispensing.html"
                  ><i class="ri-glasses-line"></i> Scientific Dispensing</a
                >
                <a href="/pages/contact-lenpractice.html"
                  ><i class="ri-glasses-line"></i> Contaact Lens Practise</a
                >
                <a href="/pages/glaucoma-retina.html"
                  ><i class="ri-glasses-line"></i> Glaucoma and Retina
                  Screening</a
                >
              </div>
            </div>
          </div>
        </div>

        <a href="#">Expertise</a>
        <a href="/pages/rxlab.html">R&D</a>
        <a href="/pages/youngbrain.html">Young Brain</a>
        <a href="/pages/blog.html">Blog</a>
        <a href="/pages/contact.html">Contact</a>
      </div>
    </div>
    <span class="menu-icon" onclick="toggleMenu()">&#9776;</span>
    <span class="cancel-icon" onclick="togglecancel()">&times;</span>
  </nav>
</div>
