<!-- <div class="topnav" id="myTopnav">
  <nav class="nav container">
    <a href="/index.html" class="nav_logo active"></a>
    <div class="nav_menu" id="navMenu">
      <div class="dropdown-container">
        <div class="dropdown">
          <div class="dropbtn">
            About <i class="ri-arrow-down-s-line drop-arrow"></i>
          </div>
          <div class="dropdown-content">
            <div class="dropdown-items"> -->
              <!-- <img
                src="/assets/images/trinity_branch1.jpg"
                class="dropdown-img"
                alt=""
              /> -->
              <!-- <div class="dropdown-items-content">
                <a href="/pages/about.html"
                  ><i class="ri-glasses-line"></i> About&nbspUs</a
                >
                <a href="/pages/team.html"
                  ><i class="ri-glasses-line"></i> Team</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown">
          <div class="dropbtn">
            Specialized <i class="ri-arrow-down-s-line drop-arrow"></i>
          </div>

          <div class="dropdown-content">
            <div class="dropdown-items"> -->
              <!-- <img
                src="/assets/images/trinity_branch1.jpg"
                class="dropdown-img"
                alt=""
              /> -->
              <!-- <div class="dropdown-items-content">
                <a href="/pages/pediatic-assessment.html"
                  ><i class="ri-glasses-line"></i> Pediatric&nbspAssessment</a
                >
                <a href="/pages/binocular-vision.html"
                  ><i class="ri-glasses-line"></i> Binocular Vision Assessment &
                  Vision Therapy</a
                >
                <a href="/pages/scientific-dispensing.html"
                  ><i class="ri-glasses-line"></i> Scientific Dispensing</a
                >
                <a href="/pages/contact-lenpractice.html"
                  ><i class="ri-glasses-line"></i> Contaact Lens Practise</a
                >
                <a href="/pages/glaucoma-retina.html"
                  ><i class="ri-glasses-line"></i> Glaucoma and Retina
                  Screening</a
                >
              </div>
            </div>
          </div>
        </div>

        <a href="#">Expertise</a>
        <a href="#">R&D</a>
        <a href="/pages/youngbrain.html">Young Brain</a>
        <a href="/pages/blog.html">Blog</a>
        <a href="/pages/contact.html">Contact</a>
      </div>
    </div>
    <span class="menu-icon" onclick="toggleMenu()">&#9776;</span>
    <span class="cancel-icon" onclick="togglecancel()">&times;</span>
  </nav>
</div> -->

<body>

  <header>
      <img src="/assets/images/logo.svg" alt="" >
      <input type="checkbox" name="" id="menu-bar">
      <label for="menu-bar">☰</label>

      <nav class="navbar">
          <ul class="dropdown">
              <li><a href="#">About<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                  <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg></a>
                  <ul class="dropdown-content">
                      <li><a href="/pages/about.html"><svg xmlns="http://www.w3.org/2000/svg" width="46" height="16" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16" style="color: rgb(232, 121, 31);">
                          <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4m2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A2 2 0 0 0 8 6c-.532 0-1.016.208-1.375.547M14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0"/>
                        </svg>About us</a></li>
                      <li><a href="/pages/team.html"><svg xmlns="http://www.w3.org/2000/svg" width="46" height="16" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16" style="color: rgb(232, 121, 31);">
                          <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4m2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A2 2 0 0 0 8 6c-.532 0-1.016.208-1.375.547M14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0"/>
                        </svg>Team</a></li>
                  </ul>
              </li>
              <li><a href="#">Specialized<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                  <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg></a>
                  <ul class="dropdown-content">
                      <li><a href="/pages/pediatic-assessment.html"><svg xmlns="http://www.w3.org/2000/svg" width="46" height="16" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16" style="color: rgb(232, 121, 31);">
                          <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4m2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A2 2 0 0 0 8 6c-.532 0-1.016.208-1.375.547M14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0"/>
                        </svg>Pediatric Assessment</a></li>
                      <li><a href="/pages/binocular-vision.html"><svg xmlns="http://www.w3.org/2000/svg" width="46" height="16" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16" style="color: rgb(232, 121, 31);">
                          <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4m2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A2 2 0 0 0 8 6c-.532 0-1.016.208-1.375.547M14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0"/>
                        </svg>Binocular Vision Assessment &
                          Vision Therapy</a></li>
                      <li><a href="/pages/scientific-dispensing.html"><svg xmlns="http://www.w3.org/2000/svg" width="46" height="16" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16" style="color: rgb(232, 121, 31);">
                          <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4m2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A2 2 0 0 0 8 6c-.532 0-1.016.208-1.375.547M14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0"/>
                        </svg>Scientific Dispensing</a></li>
                      <li><a href="/pages/contact-lenpractice.html"><svg xmlns="http://www.w3.org/2000/svg" width="46" height="16" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16" style="color: rgb(232, 121, 31);">
                          <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4m2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A2 2 0 0 0 8 6c-.532 0-1.016.208-1.375.547M14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0"/>
                        </svg>Contaact Lens Practise</a></li>
                      <li><a href="/pages/glaucoma-retina.html"><svg xmlns="http://www.w3.org/2000/svg" width="46" height="16" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16" style="color: rgb(232, 121, 31);">
                          <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4m2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A2 2 0 0 0 8 6c-.532 0-1.016.208-1.375.547M14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0"/>
                        </svg>Glaucoma and Retina
                          Screening</a></li>
                  </ul>
              </li>
              <li><a href="#">Expertise</a></li>
              <li><a href="#">R&D</a></li>
              <li><a href="/pages/youngbrain.html">Young Brain</a></li>
              <li><a href="/pages/blog.html">Blog</a></li>
              <li><a href="/pages/contact.html">Contact</a></li>
          </ul>
      </nav>
  </header>

</body>
