nav{
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
  transition: all 0.3s ease-in-out;}
  .nav.scrolled{
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }

.menu-container{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
  }
  .nav-logo{
      width: auto;
      height: auto;
  }
  .nav-logo img{
      width: 300px;
      height: 100px;
  }
  .menu-buttons{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      
  }
  .menu-buttons a{
      color: var(--color-1);
      font-size: var(--content1);
      font-weight: var(--sub-heading-weight-2);
  }
  .menu-icon{
      font-size: var(--sub-heading-1);
      color: var(--color-1);
      font-weight: var(--sub-heading-weight-1)
  }
  .dropdown {
      position: relative;
      display: flex;
      align-items: center;
    }
    
    /* 🔹 Dropdown Button */
    .dropdown-btn {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      gap: 6px;
      font-size: var(--content1);
      font-weight: var(--sub-heading-weight-2);
      color: var(--color-1);
      padding: 14px 16px;
      pointer-events: none;
    }
    
    /* 🔹 Dropdown Arrow */
    .drop-arrow {
      font-size: var(--content1);
      font-weight: var(--sub-heading-weight-2);
      color: var(--color-1);
      transition: transform 0.4s;
    }
    
    /* 🔹 Dropdown Content */
    .dropdown-content {
      opacity: 0;
      position: absolute;
      background-color: #fff;
      top: 100%;
      left: 50%; 
      transform: translateX(-50%); 
      width: auto;
      height: max-content;
      border-radius: 20px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      transition: opacity 0.3s ease-in-out;
      pointer-events: none;
      padding: 10px;
      z-index: 1000;
    }
    
    /* 🔹 Dropdown Items */
    .dropdown-items {
      display: flex;
      flex-direction: row;
      width: auto;
      justify-content: space-around;
      align-items: center;
      height: 100%;
    }
    
    .dropdown-items-content{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: self-start;
      height: 70%;
      width: auto;
    }
    
    /* 🔹 Dropdown Links */
    .dropdown-items-content a {
      color: #274760;
      padding: 10px 15px;
      text-decoration: none;
      display: block;
      font-size: 17px;
      font-weight: 300;
      transition: 0.3s ease-in-out;
      display: flex;
      flex-direction: row;
      gap: 19px;
      width: auto;
      justify-content: start;
      text-align: left;
    }
    .dropdown-items-content i{
      color: #F88E95;
      font-size: var(--sub-heading-2);
    }
    
    .dropdown-items-content a:hover {
      background-color: #f1f1f1;
    }
    .dropdown:hover .drop-arrow {
      transform: rotate(180deg);
    }
    
    .dropdown:hover .dropdown-content {
      visibility: visible;
      opacity: 1;
      pointer-events: initial;
      cursor: initial;
    }
    

#sidebar-active{
  display: none;
}
.open-sidebar,.close-sidebar{
  padding: 0 20px;
  display: none;
}

@media screen and (max-width:980px) {
  .nav-logo{
      margin-left: 2%;
  }
  .menu-container{
      justify-content: space-between;
  }
  .menu-buttons{
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      justify-content: start;
      top: 0;
      right: -100%;
      z-index: 10;      
background: rgba( 255, 255, 255, 0.1 );
backdrop-filter: blur( 2px );
      width: 300px;
      height: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      transition: transform 1s ease-in-out;
  }
  .menu-buttons a{
      box-sizing: border-box;
      padding: 20px 30px;
  }
  .dropdown{
      padding: 8px 13px;
  }
  .dropdown-content{
      left: 82%;
  }
  .open-sidebar,.close-sidebar{
      display: block;
      padding: 20px 30px;
  }
  #sidebar-active:checked ~ .menu-buttons{
      right: 0;
      transform: translateX(0);
  }
}
@media screen and (max-width:360px) {
  .nav-logo img{
      width: 200px;
      height: 100px;
  }
}



.body1,.body2{
width: 100%;
height: 500px;
}

.body1{
  background-color: aquamarine;
}
.body2{
  background-color: bisque;
}

/*=============== breadcrumb ===============*/
.breadcrumb-banner{
  height: 400px;
  width: 100%;
  margin-bottom: 50px;
}


.breadcrumb-banner-bg{
  background-image: url('/assets/images/vectors/breadcrumb-banner.svg');
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumb-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.breadcrumb-content1{
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 56%;
  justify-content: space-around;
}

.breadcrumb-content1 h1{
  font-size: var(--topic-heading);
  font-weight: var(--topic-heading-weight);
  color: var(--color-1);
}
.breadcrumb-content1 h2{
  font-size: var(--sub-heading-2);
  font-weight: var( --sub-heading-weight-2);
  color: var(--color-5);
}



/*=============== footer ===============*/
.footer {
    position: relative;
    height: auto;
  }
  .footer-content{
    height: auto;
  }
  .footer-content1{
    display: flex;
    flex-direction: column;
  }
  .footer-content-bg{
    height: 100%; /* Match section height */
    width: auto; /* Maintain aspect ratio */
    background-image: url('/assets/images/vectors/herobanner.svg');
    background-size: cover; /* Scale image to fit */
    background-position: center; 
    background-repeat: no-repeat; /* Avoid tiling the image */
    overflow: hidden; 
  }
  .footer-appoinment{
    position: absolute;
    width: 992px;
    height: 250px;
    top: -41.5%;
    left: calc(50% - 992px/2);
    background-image: url('/assets/images/vectors/footer-banner-1.svg');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
  }

  .footer-appoinmet-content{
    position: absolute;
  height: auto;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  }
  .footer-img{
    background-image: url('/assets/images/profile-images/footer-profile-image.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 425px;
    width: 488px;
    margin-bottom:7.5%;
}
.footer-appoinment-section{
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 377px;
  gap: 40px;
  align-items: flex-start;
}
.footer-appoinment1{
width: 180px;
height: 82px;
background: #FFFFFF;
border: 1px solid #D9D9D9;
box-shadow: 0px 4px 8px #8B8B8B;
border-radius: 10px;
margin-left: 22%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.footer-appoinment1 img{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 42px;
  width: 125px;
}
.footer-appoinment1 h2{
  width: 63%;
}

.footer-appoinment1 p,.footer-appoinment1 h2{
font-style: normal;
font-weight: 500;
font-size: 10px;
display: flex;
align-items: center;
color: #274760;
text-align: left;

}
.rating{
  width: 63%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.checked {
  color: #EFAB37;
}
.stars{
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}
.stars span{
  font-size: 13px;
}
.footer-appoinment-icons{
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
  align-items: center;
}
.footer-appoinment-icons a{
  width: 40px;
  height: 40px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 500;
  color:#F88E95 ;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .footer-content-info{
    display: flex;
    flex-direction: row;
    margin-top: 15%;
    gap:50px;
    justify-content: space-around;
  }
  .footer-content-info-col{
    display: flex;
    flex-direction: column;
  }
  .footer-content-info h3{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.66px;
  color: #274760;
  margin-bottom: 20px;
  }
  
  .footer-content-info p{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  margin-bottom: 5px;
  gap: 10px;
  color: #274760;
  }
  .footer-content-info-col1{
    width:400px;
  }
  .footer-content-info-col2{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .footer-content-info-col2 i{
  font-size: 18px;
  color: #274760;
  }

  .footer-content-info-contactus{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }
  .footer-content-info-porur,.footer-content-info-Keelkattali,.footer-content-info-kumnanchavadi{
    justify-items:end;
  }
  
  .copyright{
    display: flex;
    height: 80px;
    margin-left: 5%;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;  
  }
  .copyright-content1{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.42px;
  color: #274760;
  }

  
/*=============== footer responsive ===============*/
@media screen and (max-width:1200px) {
  .footer-content-info{
    flex-wrap: wrap;
  }
  .copyright{
    flex-wrap: wrap;
    margin-top: 50px;
  }
}
@media screen and (max-width:992px) {
  .footer-appoinment{
    width: 100%;
    left: calc(50% - 100%/2);z-index: 5;
    top: -23.5%;
  }

  .footer-img{
    display: none;
  }
  .footer-appoinmet-content{
    justify-content: center;
  }
}

@media screen and (max-width:767px) {
  .footer-content-info{
   justify-content: flex-start;
   margin-left: 5%;
  }
}


/*Floatings*/
  
.whatsapp-icon {
  position: fixed;
  bottom: 2%;
  left: 2%;
  width: 7.7vh;
  height: 7.7vh;
  background-image: url('/assets/icons/whatsapp-icon.svg');
  background-size: cover;
  background-position: center;
  z-index: 9999; 
}
.appoinment-card {
  position: fixed;
  top: 50%;
  right: -1%; /* Initially hidden */
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 9999;
  transition: transform 0.5s ease-in-out; /* Smooth movement */
}

.appoinment-card .fa-address-book{
  display: none;
  /* height: auto;
  width: 59%;
  font-size: var(--sub-heading-1);
  color: var(--color-1);
  cursor: pointer; */
}



.appoinment-card-content{
  width: 12vh;
  height: 26vh;
  background: #FFFFFF;
  border: 1px solid rgba(209, 209, 209, 0.25);
  box-shadow: 0px 2px 8px #A5A5A5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.appoinment-card-item,.appoinment-card-item1{
  width: 65%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.9vh;
  text-decoration: none;
  color: #274760;
}
.appoinment-card-item{
  border: 1px solid;
  border-top-color: #D9D9D9;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

@media screen and (max-width:1000px) {
  .appoinment-card{
    right: -77px;
  }

  .appoinment-card .fa-address-book{
    display: block;
    height: auto;
    width: 59%;
    font-size: var(--sub-heading-1);
    color: var(--color-1);
    cursor: pointer;
  }
  
  .appoinment-card:hover {
    transform: translateX(-77px); /* Move left on hover */
  }
}