@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Rubik';
    background-color:#fff;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  /*=============== REUSABLE CSS CLASSES ===============*/
  .container {
    max-width: 1280px;
    margin-inline: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }

:root{
  
    /*========== Font Size ==========*/
    --topic-heading:40px;
    --sub-heading-1:34px;
    --sub-heading-2:24px;
    --content1:18px;
    --content2:16px;

    /*========== Font Weight ==========*/
    --topic-heading-weight:700;
    --sub-heading-weight-1:600;
    --sub-heading-weight-2:400;
    
    /*========== Font Color ==========*/
    --color-1:#274760;
    --color-2:#F88E95;
    --color-3:#888888;
    --color-4:#2670B4;
    --color-5:#ffffff;
    --color-6:#E4EFFF;
    --color-7:#F9FAFD;
  }




  